<section class="relative min-h-screen pt-12 mt-12 bg-top bg-no-repeat bg-contain bg-divider" id="work">
  <h2 class="title">My Work</h2>
  <p>I've had the privilege of collaborating with many esteemed clients, including Memorial Health System, Springfield Clinic, Clabber Girl, Hanson Professional Services Inc., The MCLI, City of Austin Employees Retirement System, LRS, GrowMark, SMART-TILL Vertical Tilling Technology, ADM, and more. Below are some examples of the work I've done for them.</p>

  <div class="grid gap-px md:grid-cols-3 work-grid">
    <div class="overflow-hidden">
      <a href="/images/work/archeroil.webp" target="_blank" class="block" aria-label="View full-size image of Archer Oil project">
        <img src="/images/work/archeroil-thumb.webp" alt="Thumbnail of Archer Oil project" class="object-cover w-full h-full transition-transform duration-300 transform hover:scale-110">
      </a>
    </div>
    <div class="overflow-hidden">
      <a href="/images/work/growmark.webp" target="_blank" class="block" aria-label="View full-size image of Growmark project">
        <img src="/images/work/growmark-thumb.webp" alt="Thumbnail of Growmark project" class="object-cover w-full h-full transition-transform duration-300 transform hover:scale-110">
      </a>
    </div>
    <div class="overflow-hidden">
      <a href="/images/work/itsnotagame.webp" target="_blank" class="block" aria-label="View full-size image of It's Not a Game project">
        <img src="/images/work/itsnotagame-thumb.webp" alt="Thumbnail of It's Not a Game project" class="object-cover w-full h-full transition-transform duration-300 transform hover:scale-110">
      </a>
    </div>
    <div class="overflow-hidden">
      <a href="/images/work/lrsconsulting.webp" target="_blank" class="block" aria-label="View full-size image of LRS Consulting project">
        <img src="/images/work/lrsconsulting-thumb.webp" alt="Thumbnail of LRS Consulting project" class="object-cover w-full h-full transition-transform duration-300 transform hover:scale-110">
      </a>
    </div>
    <div class="overflow-hidden">
      <a href="/images/work/lrseducation.webp" target="_blank" class="block" aria-label="View full-size image of LRS Education project">
        <img src="/images/work/lrseducation-thumb.webp" alt="Thumbnail of LRS Education project" class="object-cover w-full h-full transition-transform duration-300 transform hover:scale-110">
      </a>
    </div>
    <div class="overflow-hidden">
      <a href="/images/work/neiu.webp" target="_blank" class="block" aria-label="View full-size image of NEIU Workday project">
        <img src="/images/work/neiu-thumb.webp" alt="Thumbnail of NEIU Workday project" class="object-cover w-full h-full transition-transform duration-300 transform hover:scale-110">
      </a>
    </div>
    <div class="overflow-hidden">
      <a href="/images/work/oberheim.webp" target="_blank" class="block" aria-label="View full-size image of Oberheim Park project">
        <img src="/images/work/oberheim-thumb.webp" alt="Thumbnail of Oberheim Park project" class="object-cover w-full h-full transition-transform duration-300 transform hover:scale-110">
      </a>
    </div>
    <div class="overflow-hidden">
      <a href="/images/work/sullivan.webp" target="_blank" class="block" aria-label="View full-size image of Sullivan Contractors project">
        <img src="/images/work/sullivan-thumb.webp" alt="Thumbnail of Sullivan Contractors project" class="object-cover w-full h-full transition-transform duration-300 transform hover:scale-110">
      </a>
    </div>
    <div class="overflow-hidden">
      <a href="/images/work/tcci.webp" target="_blank" class="block" aria-label="View full-size image of TCCI project">
        <img src="/images/work/tcci-thumb.webp" alt="Thumbnail of TCCI project" class="object-cover w-full h-full transition-transform duration-300 transform hover:scale-110">
      </a>
    </div>
    <div class="overflow-hidden">
      <a href="/images/work/unitedlubes.webp" target="_blank" class="block" aria-label="View full-size image of United Lubes project">
        <img src="/images/work/unitedlubes-thumb.webp" alt="Thumbnail of United Lubes project" class="object-cover w-full h-full transition-transform duration-300 transform hover:scale-110">
      </a>
    </div>
  </div>

  <p>If you're interested in working together, <a href="{{ site.url }}#contact">feel free to contact me</a>, or visit <a href="https://helloatomtech.com" target="_blank">AtomTech</a>
  </p>
</section>