---
tag: page
layout: layouts/default.njk

title: About AtomTech | Expert Technology Solutions in Decatur, IL
description: Discover AtomTech's commitment to expert technology solutions tailored to your needs. From troubleshooting game consoles to optimizing home networks and expert iPhone repairs, we're here to simplify your tech journey in Decatur, IL. Join us in exploring innovative solutions that elevate your digital world.
keywords: technology solutions Decatur IL, personalized tech services, troubleshooting game consoles, optimizing home networks, expert iPhone repairs
---

<section class="w-100">
  <h1 class="pb-2 mt-0 mb-8 text-5xl font-bold border-b-2 sr-only font-jakarta text-brand-primary border-brand-primary">About Me</h1>
  <img class="float-left w-32 h-32 my-0 mb-8 mr-8 border rounded-lg shadow-xl border-base-300 drop-shadow-lg" alt="" src="/images/photo-welcome.jpg"/>
  <p class="mt-0 text-lg font-light text-base-content">AtomTech is dedicated to providing expert technology solutions tailored to your needs. With a lifelong passion for innovation and problem-solving, I founded AtomTech to offer personalized tech services that make a difference in your daily life.</p>
  <p class="text-lg font-light text-base-content">From disassembling and successfully reassembling my dad's computer at a young age to mastering modern web development tools and frameworks, my journey into technology has been driven by curiosity and a commitment to excellence.</p>
  <p class="text-lg font-light text-base-content">At AtomTech, I specialize in a variety of services designed to optimize and enhance your digital experience. Whether it's troubleshooting game consoles, optimizing home networks, or providing expert iPhone repairs, I'm here to deliver reliable solutions that meet your tech needs.</p>
  <p class="text-lg font-light text-base-content">With a focus on quality and customer satisfaction, AtomTech aims to simplify your tech journey and ensure your devices operate at their best. Join me in exploring innovative solutions that elevate your digital world.</p>
  <h2 class="text-3xl font-normal text-base-content font-annie">I look forward to working with you!</h2>
</section>

{% include "src/_includes/partials/_callout-appt.njk" %}