---
title: "About Me"
tag: page
layout: layouts/default.njk
permalink: "/about/"

seo_title: AtomTech | Affordable Computer Repair Services in Decatur, IL and Surrounding Areas
seo_description: Discover AtomTech for affordable computer repair services in Decatur, IL, and surrounding communities including Forsyth, Mt. Zion, Harristown, Warrensburg, Oreana, Maroa, Long Creek, and Mount Auburn. We provide expert solutions from computer tune-ups to home automation, ensuring your devices run smoothly without breaking the bank.
seo_keywords: affordable computer repair services, computer tune-ups, malware and virus removal, home automation solutions, mobile phone repairs, game console troubleshooting, networking optimization, web design and development, local tech services, tech solutions
---

<section>
  <h1>My Work</h1>
  <p>I've had the privilege of collaborating with many esteemed clients, including Memorial Health System, Springfield Clinic, Clabber Girl, Hanson Professional Services Inc., The MCLI, City of Austin Employees Retirement System, LRS, GrowMark, SMART-TILL Vertical Tilling Technology, ADM, and more. Below are some examples of the work I've done for them.</p>
</section>