<section class="relative min-h-screen pt-12 mt-12 bg-top bg-no-repeat bg-contain bg-divider" id="contact">
  <h2 class="title">Contact Me</h2>
  <p>Whether it's about your next project or just to chat, fill out the form below to get in touch with me. I'm a pretty nice guy.</p>

  <form action="/process.php" method="post" id="contactForm">
    <input type="hidden" name="honeypot"/>
    <input type="hidden" name="form_tools_form_id" value="4"/>
    <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
      <div class="sm:col-span-4 form-control">
        <label class="font-serif text-base" for="name">Name<span class="text-aura-dark">*</span></label>
        <input type="text" id="name" name="name" placeholder="" class="block w-full px-4 py-3 mt-2 bg-white border rounded-tl-lg rounded-br-lg outline-none border-charcoal hover:border-glow-dark focus:border-glow-dark placeholder:text-dark text-dark" required>
        <span id="name-error" class="hidden p-2 font-semibold error text-aura-dark"></span>
      </div>

      <div class="sm:col-span-3 form-control">
        <label class="font-serif text-base" for="email">Email<span class="text-aura-dark">*</span></label>
        <input type="email" id="email" name="email" placeholder="" class="block w-full px-4 py-3 mt-2 bg-white border rounded-tl-lg rounded-br-lg outline-none border-charcoal hover:border-glow-dark focus:border-glow-dark placeholder:text-dark text-dark" required>
        <span id="email-error" class="hidden p-2 font-semibold error text-aura-dark"></span>
      </div>

      <div class="sm:col-span-6 form-control">
        <label class="font-serif text-base" for="message">What's up?<span class="text-aura-dark">*</span></label>
        <textarea id="message" rows="5" class="block w-full px-4 py-3 mt-2 bg-white border rounded-tl-lg rounded-br-lg outline-none border-charcoal hover:border-glow-dark focus:border-glow-dark placeholder:text-dark text-dark" name="message" placeholder="" required></textarea>
        <span id="message-error" class="existingClient-error"></span>
      </div>

      <!-- ← Insert Turnstile here: -->
      <div class="sm:col-span-6">
        <div class="cf-turnstile" 
           data-sitekey="0x4AAAAAABapudvH9jcOPTWj"></div>
        <span id="turnstile-error" class="hidden p-2 font-semibold error text-aura-dark">
        Please complete the CAPTCHA
      </span>
      </div>

      <div class="sm:col-span-6">
        <input class="px-4 py-1.5 font-serif text-lg border-t border-b btn bg-cream text-charcoal border-charcoal hover:bg-mustard focus:bg-mustard hover:text-dark focus:text-dark" type="submit" value="Submit">
      </div>
    </div>
  </form>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const contactForm = document.getElementById("contactForm");

    contactForm.addEventListener("submit", function (event) {
      event.preventDefault();

      // Validate form fields
      if (!validateForm()) {
        return;
      }

      // If the form is valid, submit it
      contactForm.submit();
    });

    function validateForm() {
      let isValid = true;

      const name = document
        .getElementById("name")
        .value
        .trim();
      const email = document
        .getElementById("email")
        .value
        .trim();
      const message = document
        .getElementById("message")
        .value
        .trim();
      const turnstileResponse = document
        .querySelector('[name="cf-turnstile-response"]')
        .value;

      // Clear previous error messages
      clearErrorMessages();

      if (name === "") {
        isValid = false;
        displayErrorMessage("name", "Please enter your name");
      }

      if (email === "" || !isValidEmail(email)) {
        isValid = false;
        displayErrorMessage("email", "Please enter a valid email address");
      }

      if (message === "") {
        isValid = false;
        displayErrorMessage("message", "Please provide some details");
      }

      if (!turnstileResponse) {
        isValid = false;
        displayErrorMessage('turnstile', 'Please complete the CAPTCHA');
      }

      return isValid;
    }

    function isValidEmail(email) {
      // Simple email validation regex, customize as needed
      const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
      return emailRegex.test(email);
    }

    function displayErrorMessage(fieldId, message) {
      const errorElement = document.getElementById(`${fieldId}-error`);
      if (errorElement) {
        errorElement.textContent = message;
        errorElement
          .classList
          .remove("hidden");
        errorElement
          .classList
          .add("block");
      }
    }

    function clearErrorMessages() {
      const errorElements = document.querySelectorAll(".error");
      errorElements.forEach((element) => {
        element.textContent = "";
        element
          .classList
          .remove("block");
        element
          .classList
          .add("hidden");
      });
    }
  });
</script>

<div id="errors"></div>