---
eleventyExcludeFromCollections: true
permalink: false
---

<section class="relative pt-12 mt-12 bg-top bg-no-repeat bg-contain bg-divider" id="contact">
  <h2 class="title">Contact Me</h2>
  <p>Thanks for taking the time to look around. If you would like to get in touch with me please feel free to via <a href="https://github.com/atomtroxell/atomtroxell/discussions" title="Contact me on GitHub">GitHub</a> or <a href="https://www.linkedin.com/in/aj-troxell/" title="Contact me on LinkedIn">LinkedIn</a>.</p>
</section>