---
tag: page
permalink: "/"
layout: layouts/home.njk

title: AtomTech | Affordable Computer Repair Services in Decatur, IL and Surrounding Areas
description: Discover AtomTech for affordable computer repair services in Decatur, IL, and surrounding communities including Forsyth, Mt. Zion, Harristown, Warrensburg, Oreana, Maroa, Long Creek, and Mount Auburn. We provide expert solutions from computer tune-ups to home automation, ensuring your devices run smoothly without breaking the bank.
keywords: affordable computer repair services, computer tune-ups, malware and virus removal, home automation solutions, mobile phone repairs, game console troubleshooting, networking optimization, web design and development, local tech services, tech solutions
---

<section id="home">
  <h1 class="sr-only">AtomTroxell</h1>
  <span class="block title">Hi! I'm AJ Troxell, welcome to my website.</span>
  <h2 class="subheading">Father, graphic designer, web developer, accessibility hero, and technology geek.</h2>
  <p>Growing up, I was torn between wanting to be a comedian or an entomologist. My curiosity was endless, whether it was keeping a black widow spider in a jar under my bed or taking apart my dad's computer. Those interests may seem unrelated, but they all have something in common, a fascination with discovery and problem-solving.</p>
  <p>That curiosity eventually led me to web development. What began as tinkering with HTML and learning through trial and error turned into a lifelong passion for technology. Today, I work on internal products at <a href="https://bunn.com" target="_blank">BUNN</a>, pushing the technological boundaries of the coffee service industry, while also running my own tech service company, <a href="https://atomtech.com" target="_blank">AtomTech</a>. I'm always building, learning, and evolving in the ever-changing world of tech.</p>
</section>