<section class="relative min-h-screen pt-12 mt-12 bg-top bg-no-repeat bg-contain bg-divider" id="resume">

  <h2 class="title">My Resume</h2>

  <h3>Adam (AJ) Troxell</h3>

  <p>
    <a href="tel:2173589668">217.358.9668</a><br>
    <a href="https://atomtroxell.com">https://atomtroxell.com</a>
  </p>

  <h4>Education</h4>
  <p>
    <strong>Richland Community College</strong><br>Associates in Applied Sciences<br>August 2003 - May 2004<br>
  </p>

  <h4>Skills</h4>
  <ul>
    <li>508 Compliance &amp; WCAG 2.2 Level: Advanced Knowledge and Remediation</li>
    <li>HTML5/CSS/Sass/Less/JavaScript/jQuery</li>
    <li>PHP: WordPress/ExpressionEngine/Drupal</li>
    <li>ASP.Net: DNN/Antilles/MVC</li>
    <li>VUE.js</li>
    <li>Thymeleaf</li>
  </ul>

  <h4>Accomplishments</h4>
  <ul>
    <li>58.8% salary increase over 8-year period</li>
    <li>Completed design integrity reviews of other frontend developers' work to ensure strict consistency and adherence to provided designs.</li>
    <li>WebAIM Accessibility Training (2017)</li>
  </ul>

  <h4>Experience</h4>

  <p>
    <strong>Bunn-O-Matic Corporation</strong><br>
    <em class="text-sm font-semibold">Technical Lead/Frontend Developer</em><br>As a Technical Lead, I help maintain a cohesive team workflow, team communication, and shared goals to create a flourishing environment of collaboration and shared progress.<br>
    <span class="text-sm font-semibold">April 2025 - Present</span>
  </p>

  <p>
    <strong>Bunn-O-Matic Corporation</strong><br>
    <em class="text-sm font-semibold">Frontend Developer</em><br>As a frontend developer at BUNN, I collaborate with both internal and external stakeholders to deliver a variety of public and private applications that enhance company and customer services, benefiting both clients and consumers. My work draws on a wide range of expertise, from JavaScript to Accessibility and beyond.<br>
    <span class="text-sm font-semibold">May 2023 - Present</span>
  </p>

  <p>
    <strong>DCC Marketing</strong><br>
    <em class="text-sm font-semibold">Web Developer</em><br>As the sole Web Developer for a highly successful full-marketing firm, I am responsible for project estimation, wireframes, design mockups, suggested improvements and adjustments, website maintenance, accessibility audits and fixes, and client communication.<br>
    <span class="text-sm font-semibold">November 2021 - May 2023</span>
  </p>

  <p>
    <strong>Levi, Ray &amp; Shoup (LRS Web Solutions)</strong><br>
    <em class="text-sm font-semibold">Senior Frontend Developer</em><br>Managed a frontend team of 3 developers. Implemented processes and standards as needed. Completed code reviews and assessments. Assisted in accessibility, best practices, UX/UI, and task delegation. (All previous role requirements remain as part of my position)<br>
    <span class="text-sm font-semibold">October 2013 - November 2021</span>
  </p>

  <p>
    <strong>Levi, Ray &amp; Shoup (LRS Web Solutions)</strong><br>
    <em class="text-sm font-semibold">Frontend Developer</em><br>Worked closely with stakeholders, UX/UI Specialists, Graphic Designers, and Content Specialists to deliver modern, responsive, efficient, and accessible websites utilizing the latest technologies and standards.<br>
    <span class="text-sm font-semibold">October 2013 - November 2020</span>
  </p>

  <p>
    <strong>JTnet Inc.</strong><br>
    <em class="text-sm font-semibold">Interactive Specialist</em><br>Developed and maintained CodeIgniter, ExpressionEngine, and in-house websites and applications. Collaborated closely with stakeholders and designers to produce a pixel-perfect product.<br>
    <span class="text-sm font-semibold">March 2012 - October 2013</span>
  </p>

</section>