<section class="relative min-h-screen pt-12 mt-12 bg-top bg-no-repeat bg-contain bg-divider" id="work">
  {# <div class="top-0 left-0 right-0 m-auto abslute hr">
    <img src="/images/hr.webp" alt="" class="w-full h-auto max-w-2xl m-auto mt-12">
  </div> #}
  <h2 class="title">My Work</h2>
  <p>I've had the privilege of collaborating with many esteemed clients, including Memorial Health System, Springfield Clinic, Clabber Girl, Hanson Professional Services Inc., The MCLI, City of Austin Employees Retirement System, LRS, GrowMark, SMART-TILL Vertical Tilling Technology, ADM, and more. Below are some examples of the work I've done for them.</p>

  <div class="grid gap-px md:grid-cols-3 work-grid">
    <div class="overflow-hidden">
      <a href="/images/work/archeroil.webp" target="_blank" class="block">
        <img src="/images/work/archeroil-thumb.webp" alt="" class="object-cover w-full h-full transition-transform duration-300 transform hover:scale-110">
        <span class="sr-only">Click to open Archer Oil</span>
      </a>
    </div>
    <div class="overflow-hidden">
      <a href="/images/work/growmark.webp" target="_blank" class="block">
        <img src="/images/work/growmark-thumb.webp" alt="" class="object-cover w-full h-full transition-transform duration-300 transform hover:scale-110">
        <span class="sr-only">Click to open Growmark</span>
      </a>
    </div>
    <div class="overflow-hidden">
      <a href="/images/work/itsnotagame.webp" target="_blank" class="block">
        <img src="/images/work/itsnotagame-thumb.webp" alt="" class="object-cover w-full h-full transition-transform duration-300 transform hover:scale-110">
        <span class="sr-only">Click to open It's Not a Game</span>
      </a>
    </div>
    <div class="overflow-hidden">
      <a href="/images/work/lrsconsulting.webp" target="_blank" class="block">
        <img src="/images/work/lrsconsulting-thumb.webp" alt="" class="object-cover w-full h-full transition-transform duration-300 transform hover:scale-110">
        <span class="sr-only">Click to open LRS Consulting</span>
      </a>
    </div>
    <div class="overflow-hidden">
      <a href="/images/work/lrseducation.webp" target="_blank" class="block">
        <img src="/images/work/lrseducation-thumb.webp" alt="" class="object-cover w-full h-full transition-transform duration-300 transform hover:scale-110">
        <span class="sr-only">Click to open LRS Education</span>
      </a>
    </div>
    <div class="overflow-hidden">
      <a href="/images/work/neiu.webp" target="_blank" class="block">
        <img src="/images/work/neiu-thumb.webp" alt="" class="object-cover w-full h-full transition-transform duration-300 transform hover:scale-110">
        <span class="sr-only">Click to open NEIU Workday</span>
      </a>
    </div>
    <div class="overflow-hidden">
      <a href="/images/work/oberheim.webp" target="_blank" class="block">
        <img src="/images/work/oberheim-thumb.webp" alt="" class="object-cover w-full h-full transition-transform duration-300 transform hover:scale-110">
        <span class="sr-only">Click to open Oberheim Park</span>
      </a>
    </div>
    <div class="overflow-hidden">
      <a href="/images/work/sullivan.webp" target="_blank" class="block">
        <img src="/images/work/sullivan-thumb.webp" alt="" class="object-cover w-full h-full transition-transform duration-300 transform hover:scale-110">
        <span class="sr-only">Click to open Sullivan Contractors</span>
      </a>
    </div>
    <div class="overflow-hidden">
      <a href="/images/work/tcci.webp" target="_blank" class="block">
        <img src="/images/work/tcci-thumb.webp" alt="" class="object-cover w-full h-full transition-transform duration-300 transform hover:scale-110">
        <span class="sr-only">Click to open TCCI</span>
      </a>
    </div>
    <div class="overflow-hidden">
      <a href="/images/work/unitedlubes.webp" target="_blank" class="block">
        <img src="/images/work/unitedlubes-thumb.webp" alt="" class="object-cover w-full h-full transition-transform duration-300 transform hover:scale-110">
        <span class="sr-only">Click to open United Lubes</span>
      </a>
    </div>
  </div>

  <p>If you're interested in working together, <a href="/contact/">feel free to contact me</a>, or visit <a href="https//helloatomtech.com" target="_blank">AtomTech</a>
  </p>
</section>