<section class="relative mt-12 mb-20 hero bg-brand-primary">
  <div class="p-12 text-center hero-content">
    <div class="max-w-full">
      <h2 class="mt-0 mb-4 text-5xl font-bold text-neutral-content font-jakarta">Schedule an Appointment!</h2>
      <p class="pt-0 pb-6 m-0 text-lg text-neutral-content">Appointments are priced at only $35 for the first hour, whether I come to your home or you drop off your device. If your issue is resolved within this time frame, that's all you pay.</p>
      <a href="#" class="text-xl no-underline border-0 btn btn-primary bg-base-content text-neutral-content hover:text-brand-primary hover:bg-neutral-content focus:bg-base-content focus:text-neutral-content">Schedule Now</a>
      <p class="absolute m-0 text-xs text-base-200 bottom-2 right-2">*Terms and conditions apply.</p>
    </div>
  </div>
</section>