<footer class="relative flex-shrink-0 w-full px-2 py-4 mt-28 bg-dark text-cream">
  <div class="absolute w-full pointer-events-none right-6 max-w-52 bottom-[calc(100%-16px)]">
    <img src="/images/foot.png" class="w-full h-auto" alt="">
  </div>
  <div class="flex flex-wrap">
    <div class="w-full md:w-1/3">
      <p class="p-0 m-0 text-xs text-center text-base-content md:text-left">&copy; {% year %}
        AtomTroxell
      </p>
    </div>
    <div class="flex justify-center w-full md:justify-end md:w-2/3">
      <ul class="p-0 pt-2 m-0 text-xs list-none md:pt-0 text-base-content">
        <li class="inline-block px-2 m-0 md:ml-2">
          <a href="/accessibility" class="inline-block no-underline hover:text-mustard focus:text-mustard active:text-mustard text-cream">Accessibility</a>
        </li>
        <li class="inline-block px-2 m-0 md:ml-2">
          <a href="/privacy" class="inline-block no-underline hover:text-mustard focus:text-mustard active:text-mustard text-cream">Privacy Policy</a>
        </li>
        <li class="inline-block px-2 m-0 md:ml-2">
          <a href="https://helloatomtech.com" target="_blank" class="inline-block no-underline hover:text-mustard focus:text-mustard active:text-mustard text-cream">AtomTech</a>
        </li>
      </ul>
    </div>
  </div>
</footer>

<script>
  // Select all anchor links within the .nav-main container
  document
    .querySelectorAll('.nav-main a[href^="#"]')
    .forEach(anchor => {
      anchor.addEventListener('click', function (e) {
        e.preventDefault();

        // Scroll to the target element
        document
          .querySelector(this.getAttribute('href'))
          .scrollIntoView({behavior: 'smooth', block: 'start'});
      });
    });
</script>