<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QHFRB9R5DY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());
  gtag('config', 'G-QHFRB9R5DY');
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ description }}">
<meta name="keywords" content="{{ keywords }}">
<link rel="icon" type="image/png" href="/images/favicons/favicon-96x96.png" sizes="96x96"/>
<link rel="icon" type="image/svg+xml" href="/images/favicons/favicon.svg"/>
<link rel="shortcut icon" href="/images/favicons/favicon.ico"/>
<link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png"/>
<meta name="apple-mobile-web-app-title" content="AtomTech"/>
<link rel="manifest" href="/images/favicons/site.webmanifest"/>
<link rel="canonical" href="{{ site.url }}{{ page.url }}"/>
<title>{{ title }}</title>
{% set css %}
{% include "src/styles/index.css" %}
{% endset %}
<style>
  {{css | postcss | safe}}
</style>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" media="print" onload='this.media="all",this.onload=null' rel="stylesheet">